:root,
html[data-theme="light"] {
  --color-primary: #300650;
  --color-primary-offset: #290160;
  --color-accent: #7c180b;
  --color-accent-offset: #b8260c;
  --color-text: #060d20;
  --color-text-offset: #0c193b;
  --color-text-inverse: #ffffff;
  --color-background-offset: #999191;
  --color-background: rgb(197, 197, 197);
  --color-border: #00418b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ccf5b9;
    --color-primary-offset: #a1db86;
    --color-accent: #be7774;
    --color-accent-offset: #dfa5a3;
    --color-text: #e6e6e6;
    --color-text-offset: #cccccc;
    --color-text-inverse: #171717;
    --color-background-offset: #09051c;
    --color-background: #111d1d;
    --color-border: #3e1f13;
  }
}

html[data-theme="dark"] {
  --color-primary: #ccf5b9;
  --color-primary-offset: #a1db86;
  --color-accent: #be7774;
  --color-accent-offset: #dfa5a3;
  --color-text: #e6e6e6;
  --color-text-offset: #cccccc;
  --color-text-inverse: #171717;
  --color-background-offset: #09051c;
  --color-background: #111d1d;
  --color-border: #3e1f13;
}

html {
  background-image: url('silver_dots.jpg');
}

.decoration::before {
  background-color: #9561cd;
  opacity: 0.3;
}

.decoration::after {
  opacity: 1;
  background-image: url("primary_purple_paper4.jpg");
  transform: rotate(-45deg);
  transform-origin: bottom left;
  height: 150vh;
}

.main-container {
   background: linear-gradient(
    to bottom,
    transparent 60%,
    rgba(197, 197, 197, 1)
  );
}

.article__immediate-navigation::after,
.article__immediate-navigation::before {
  content: none;
}

html[data-theme="dark"] {
  background-image: url('deep_sea_green_grunge-big.jpg');
  background-repeat: repeat;
}

html[data-theme="dark"] .main-container {
  background: none;
}

html[data-theme="dark"] .decoration::before {
  background-image: linear-gradient(to right, rgb(40, 63, 3), rgb(90, 221, 149));
  opacity: 0.3;
}

html[data-theme="dark"] .decoration::after {
  background-image: linear-gradient(to right, rgb(7, 78, 72), transparent);
  opacity: 0.3;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    background-image: url('deep_sea_green_grunge-big.jpg');
    background-repeat: repeat;
  }
  
  html:not([data-theme="light"]) .main-container {
    background: none;
  }
  
  html:not([data-theme="light"]) .decoration::before {
    background-image: linear-gradient(to right, rgb(40, 63, 3), rgb(90, 221, 149));
    opacity: 0.3;
  }
  
  html:not([data-theme="light"]) .decoration::after {
    background-image: linear-gradient(to right, rgb(7, 78, 72), transparent);
    opacity: 0.3;
  }
}
