<ul class="archives--block">
	{% for month, items in archives_data %}
		{% set href = config.plugins.archives.taxonomy_names.month ~ config.system.param_sep ~ (month|date('M_Y')|lower|e('url')) %}
		<li>
			<a href="{{ base_url ~ '/' ~ href }}">
				<span class="archive__date">{{ month }}</span>
				{% if archives_show_count %}
					<span class="archive__badge">{{ items|length }}</span>
				{% endif %}
			</a>
			{% if full_archives is defined and full_archives == true %}
				{# pour plus tard #}
				<ul>
					{% for item in items %}
						<li>
							<a href="{{ item.url }}">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
