{% import 'macros/macros.html.twig' as macros %}
<!DOCTYPE html>
<html class="no-js" lang="{{ grav.language.getLanguage ?: 'en' }}">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			{% set page_title = page_title|default(header.title ? header.title : '') %}
			<title>{{ page_title ~ ' | ' }}{{ site.title }}</title>
			{% include 'partials/metadata.html.twig' %}
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
			<meta name="msapplication-TileColor" content="#351714">
			<meta name="theme-color" content="#351714">

			<link rel="canonical" href="{{ page.url(true, true) }}"/>

			<link rel="me" href="https://pouet.it/@lamecarlate"/>

			<meta name="color-scheme" content="dark light">

			{% block stylesheets %}
				{% do assets.addCss('theme://dist/style.css', 101) %}
			{% endblock %}

			{% block javascripts %}
				{% do assets.addInlineJs('const THEME_URL="' ~ theme_url ~ '";') %}
				{% do assets.addJs('theme://dist/scripts.js', {'group': 'bottom', 'priority': 1}) %}
			{% endblock %}

			{% block assets deferred %}
				{{ assets.css()|raw }}
				{{ assets.js()|raw }}
			{% endblock %}

			<script>
				// if there's a theme id in localstorage, use it on the <html>
localStorage.getItem('theme') && document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'));
			</script>

			{% if config.plugins.feed.enabled %}
				{% set notebook_feed_url = base_url_relative ~ '/carnet' %}
				{% for feed_type in ['atom', 'rss'] %}
					<link rel="alternate" type="application/{{feed_type}}+xml" title="{{ ('BLOG.FEED.ALL.' ~ feed_type|upper)|t }}" href="{{ notebook_feed_url }}.{{feed_type}}"/>
					<link rel="alternate" type="application/{{feed_type}}+xml" title="{{ ('BLOG.FEED.ARTICLES.' ~ feed_type|upper)|t }}" href="{{ notebook_feed_url }}.{{feed_type}}/type:article"/>
					<link rel="alternate" type="application/{{feed_type}}+xml" title="{{ ('BLOG.FEED.SHORT_NOTES.' ~ feed_type|upper)|t }}" href="{{ notebook_feed_url }}.{{feed_type}}/type:short-note"/>
				{% endfor %}
			{% endif %}
		{% endblock head %}
	</head>
	<body id="top">
		<div class="global {{ page.header.body_classes is defined ? page.header.body_classes : (body_classes is defined ? body_classes : '') }}">
			<div class="skip-links">
				<div class="container">
					<a href="#main-content">{{ 'SKIP_LINK.TO_CONTENT'|t }}</a>
					<a href="#main-navigation">{{ 'SKIP_LINK.TO_NAVIGATION'|t }}</a>
					<a href="#search">{{ 'SKIP_LINK.TO_SEARCH'|t }}</a>
				</div>
			</div>

			{% block header %}
				<header class="main-header">
					<div class="container">
						<a href="{{ home_url }}" class="main-header__logo" title="{{ 'TO_HOME'|t }}" aria-label="{{ 'TO_HOME'|t }}">
							<img src="{{ url('theme://images/calisson.png')|e }}" alt="" width="60" height="60"/>
						</a>

						{% block header_navigation %}
							{% include 'partials/navigation.html.twig' %}
						{% endblock %}

						{{ include('partials/_theme-switcher.html.twig') }}
					</div>
				</header>
			{% endblock %}

			{% block showcase %}{% endblock %}

			{% block body %}
				<main id="main-content" class="main-content {{ class }}">
					<div class="main-container container">
						{% block content %}{% endblock %}
					</div>
				</main>
			{% endblock %}

			{% block footer %}
				<footer class="main-footer">
					{% if config.plugins.simplesearch.enabled and grav.uri.path is not same as(config.plugins.simplesearch.route) %}
						{{ include('plugins/simplesearch/simplesearch_searchbox.html.twig') }}
					{% endif %}
					<a href="#top" class="back-to-top" title="{{ 'BACK_TO_TOP'|t }}">
						<span class="sr-only">{{ 'BACK_TO_TOP'|t }}</span>
						{{ macros.icon('chevrons-up') }}
					</a>
					<a href="{{ base_url ~ '/styleguide' }}" title="{{ 'SURPRISE'|t }}" class="surprise">
						{{ macros.icon(random(['flask-conical', 'key', 'key-old', 'hammer', 'gift'])) }}
					</a>
				</footer>
			{% endblock %}
		</div>

		{% block bottom %}
			{{ assets.js('bottom')|raw }}
		{% endblock %}

		<span class="decoration"></span>
	</body>
</html>
