{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<nav class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <p aria-label="{{ 'BREADCRUMBS_PLUGIN.YOUAREHERE'|t }}">
        {% for crumb in crumbs %}
            {% if not loop.last %}
                {% if crumb.routable %}
                    <a href="{{ crumb.url }}" itemprop="url">
                      <span itemprop="title">{{ crumb.menu }}</span>
                    </a>
                {% else %}
                    <span itemprop="title">{{ crumb.menu }}</span>
                {% endif %}
                <i class="breadcrumbs__divider">→</i>
            {% else %}
                {% if breadcrumbs_config.link_trailing %}
                    <a href="{{ crumb.url }}" itemprop="url">
                      <span itemprop="title" aria-current="location">{{ crumb.menu }}</span>
                    </a>
                {% else %}
                    <span itemprop="title" aria-current="location">{{ crumb.menu }}</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
</nav>
{% endif %}
