{% for meta in page.metadata %}
	{% if meta.name is defined and meta.name != 'generator' %}
		<meta {% if meta.name %} name="{{ meta.name }}" {% endif %} {% if meta.http_equiv %} http-equiv="{{ meta.http_equiv }}" {% endif %} {% if meta.charset %} charset="{{ meta.charset }}" {% endif %} {% if meta.property %} property="{{ meta.property }}" {% endif %} {% if meta.content %} content="{{ meta.content }}" {% endif %}/>
	{% endif %}
{% endfor %}
