<nav class="main-navigation" id="main-navigation" aria-label="{{t('MAIN_NAVIGATION.TITLE')}}">
	<div class="main-navigation__content" id="main-navigation__content">
		{% for page in pages.children %}
			{% if page.visible and page.route is not same as('/') %}
				{% set current_page = (page.active or page.activeChild) is same as(true) %}

				<a
					class="main-navigation__item {{ current_page ? " main-navigation__item--current " : " " }} main-navigation__item--{{ page.header.id|default(page.slug) }}"
					aria-current={{current_page ? 'page': 'false'}}
					href="{{ page.url }}"
					{% if page.redirect %}title="{{ page.menu }} (lien externe)"{% endif %}
				>
					{{ page.menu }}
					{% if page.redirect %}<span class="sr-only">(lien externe)</span>{% endif %}
				</a>
			{% endif %}
		{% endfor %}
	</div>
</nav>
