{% set pagination = pagination|default(page.collection.params.pagination) %}

{% if pagination|length > 1 %}
	{% set base_url = base_url|default(page.url) %}
	{% set first_page = 1 %}
	{% set last_page = (pagination|length) %}

	<nav class="pagination" aria-label="{{ "PAGINATION.TITLE"|t }}">
		{% for paginate in pagination %}
			{% if paginate.isCurrent %}
				<span class="pagination__item pagination_item--current" aria-current="page" aria-label="{{ "PAGINATION.CURRENT"|t(paginate.number) }}">
					{{ paginate.number }}
				</span>
			{% elseif paginate.isInDelta or paginate.number == last_page or paginate.number == first_page %}
				{% set url = base_url ~ (pagination.params ~ paginate.url)|replace({'//': '/'}) %}
				<a class="pagination__item" aria-label="{{ "PAGINATION.GOTO"|t(paginate.number) }}" href="{{ url }}">
					{{ paginate.number }}
				</a>
			{% elseif paginate.isDeltaBorder and paginate.number != last_page and paginate.number != first_page %}
				<span class="pagination__gap" aria-disabled="true">…</span>
			{% endif %}
		{% endfor %}
	</nav>
{% endif %}
