{% import 'macros/macros.html.twig' as macro %}

<aside class="main-aside">
	{% if config.plugins.feed.enabled %}
		{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative ~ '/' ~ blog.slug) : blog.url %}
		<div class="aside__block--syndicate aside__block">
			<div class="aside__block__title">{{ macro.icon('rss') }} Flux web du carnet :</div>
			<div class="aside__block__content">
				<ul>
					<li>
						<a href="{{ feed_url }}.atom">Tout (Atom 1.0)</a>
					</li>
					<li>
						<a href="{{ feed_url }}.rss">Tout (RSS)</a>
					</li>
					<li>
						<a href="{{ feed_url }}.atom/type:article">Articles (Atom 1.0)</a>
					</li>
					<li>
						<a href="{{ feed_url }}.rss/type:article">Articles (RSS)</a>
					</li>
					<li>
						<a href="{{ feed_url }}.atom/type:short-note">Notules (Atom 1.0)</a>
					</li>
					<li>
						<a href="{{ feed_url }}.rss/type:short-note">Notules (RSS)</a>
					</li>
				</ul>
			</div>
		</div>
	{% endif %}
</aside>
