{% set taxlist = taxonomylist.get() %}

{% if taxlist %}
<div class="taxonomy__list {{ taxonomy }}__list">
  {% if taxonomy == 'tag' and filter %}
    {% for tax, value in taxlist[taxonomy] %}
    {% endfor %}

    {% for tax, value in taxlist[taxonomy]|slice(filterstart, filterend)|shuffle(true) %}
      {% set size = (value <= 100) ? 'size-' ~ (value / 10 % 10 + 1) : 'size-10' %}
      {% set active = uri.param(taxonomy) == tax ? 'active' : '' %}
      <a class="{{ size }} {{ active }}" href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax }}</a>
    {% endfor %}
  {% else %}
    {% for tax, value in taxlist[taxonomy] %}
      {% set active = uri.param(taxonomy) == tax ? 'active' : '' %}
      <a {{ active ? 'class="' ~ active ~ '"' }} href="{{ base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax }}</a>
    {% endfor %}
  {% endif %}
</div>
{% endif %}
