{% import 'macros/macros.html.twig' as macro %}

	<aside class="article__immediate-navigation" aria-label="{{ 'BLOG.ITEM.IMMEDIATE_NAVIGATION'|t }}">
		{% if not page.isFirst %}
			<a class="immediate-navigation--prev" href="{{ page.nextSibling.url }}">
				{{ macro.icon('chevrons-left') }}
				{% if (page.nextSibling.header is defined and page.nextSibling.header.title is defined and page.nextSibling.header.title != '') %}
					{{ page.nextSibling.header.title|raw }}
				{% else %}
					{{ 'BLOG.ITEM.NEXT_POST'|t }}
				{% endif %}
			</a>
		{% endif %}

		{% if not page.isLast %}
			<a class="immediate-navigation--next" href="{{ page.prevSibling.url }}">
				{% if (page.prevSibling.header is defined and page.prevSibling.header.title is defined and page.prevSibling.header.title != '') %}
					{{ page.prevSibling.header.title|raw }}
				{% else %}
					{{ 'BLOG.ITEM.PREV_POST'|t }}
				{% endif %}
				{{ macro.icon('chevrons-right') }}
			</a>
		{% endif %}
	</aside>