{% import 'macros/macros.html.twig' as macro %}

{% set header_image_media = page.header.header_image_file ? page.media.images[page.header.header_image_file] : '' %}
{% set recipe_id = (page.collection('extra_content')|first) ? (page.collection('extra_content')|first).id %}

<article class="article {{ header_image_media ? " article--with-image" : " " }}">

	{{ include("article/blog-article-header.html.twig") }}

	<div class="article__content">

		{% if header.story is same as(true) %}
			{% if header.foreword %}
				<p>{{header.foreword}}</p>
			{% endif %}

			<div class="writing">
				{{ page.content|raw }}
			</div>

			{% if header.afterword %}
				<p>{{header.afterword}}</p>
			{% endif %}
		{% else %}
			{% if page.summary|length > 0 %}
				<div class="article__lead">
					{{ page.summary|raw }}
				</div>
			{% endif %}

			{% if recipe_id %}
				<p>
					<a href="#recipe-{{ recipe_id }}" class="article__go-to-recipe">
						{{ macro.icon('carrot') }}
						Aller à la recette
					</a>
				</p>
			{% endif %}

			{{ page.content|slice(page.summary|length)|raw }}
		{% endif %}
	</div>

	{% for module in page.collection('extra_content') %}
		{{ module.content|raw }}
	{% endfor %}

	{% include 'article/article-pagination.html.twig' %}

	{% if config.plugins.comments.enabled %}
		{% include 'partials/comments.html.twig' %}
	{% endif %}
</article>
