{% import 'macros/macros.html.twig' as macro %}

{% set publication_date = page.header.publish_date|default(page.header.date) %}

<header class="article__header">
	<h1 class="article__title" id="main-title">{{ page.title|raw }}</h1>
	<div class="article__meta">
		<dl>
			<dt>
				{{ macro.icon('calendar') }}
				{{ 'BLOG.ITEM.PUBLISHED_ON'|t }}
			</dt>
			<dd>
				<time class="article__date" datetime="{{ publication_date|date("c") }}" title="{{ publication_date|localizeddate("long", 'long', 'fr-FR', 'Europe/Paris') }}">
					{{ publication_date|localizeddate("long", 'none', 'fr-FR', 'Europe/Paris') }}
				</time>
			</dd>
		</dl>
		{% if page.header.update_date %}
		<dl>
			<dt>
				{{ macro.icon('calendar') }}
				{{ 'BLOG.ITEM.UPDATED_ON'|t }}
			</dt>
			<dd>
				<time class="article__date" datetime="{{ page.header.update_date|date("c") }}" title="{{ page.header.update_date|localizeddate("long", 'long', 'fr-FR', 'Europe/Paris') }}">
					{{ page.header.update_date|localizeddate("long", 'none', 'fr-FR', 'Europe/Paris') }}
				</time>
			</dd>
		</dl>
		{% endif %}
		<dl class="article__reading-time">
			<dt>
				{{ macro.icon('clock') }}
				{{ 'BLOG.ITEM.READINGTIME_TITLE'|t }}
			</dt>
			<dd>{{ page.content|readingtime() }}</dd>
		</dl>

		{% if page.taxonomy.category %}
			<dl class="categories">
				<dt class="article__taxonomy__title">
					{{ macro.icon('folder') }}
					{{ (page.taxonomy.category|length > 1) ? 'BLOG.CATEGORY_TITLE_PLURAL'|t : 'BLOG.CATEGORY_TITLE'|t }}
					:
				</dt>
				{% for category in page.taxonomy.category %}
					<dd>
						<a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category|e('url') }}" class="article__category">
							{{ category }}
						</a>
					</dd>
				{% endfor %}
			</dl>
		{% endif %}

		{% if page.taxonomy.tag %}
			<dl class="tags">
				<dt class="article__taxonomy__title">
					{{ macro.icon('tag') }}
					{{ (page.taxonomy.tag|length > 1) ? 'BLOG.TAG_TITLE_PLURAL'|t : 'BLOG.TAG_TITLE'|t }}
					:
				</dt>
				{% for tag in page.taxonomy.tag %}
					<dd>
						<a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag|e('url') }}" class="article__tag">
							{{- tag -}}
						</a>
					</dd>
				{% endfor %}
			</dl>
		{% endif %}

		<span>
			{{ macro.icon('bookmark') }}
			<a href="{{ page.url }}" title="{{ 'BLOG.ITEM.PERMALINK_TITLE'|t(page.title) }}">{{ 'BLOG.ITEM.PERMALINK'|t }}</a>
		</span>
	</div>

	{% if header_image_media %}
		{% set header_image_width = page.header.header_image_width|defined(1200) %}
		{% set header_image_height = page.header.header_image_height %}
		<figure class="article__featured-image" role="group">
			{{ header_image_media.cropResize(header_image_width, header_image_height).html(
          '',
          page.header.header_image_alt ?: '',
          ''
        )|raw }}
		</figure>
	{% endif %}
</header>
