<article class="portfolio__item">

	<div class="portfolio__header">
		<h1 class="portfolio__title">
			<a href="{{ page.url }}">{{ page.title }}</a>
		</h1>

		<div class="portfolio__meta">
			<time class="article__date" datetime="{{ page.date|date("c") }}" title="{{ page.date|localizeddate("long", 'none', 'fr-FR', 'Europe/Paris') }}">
				{{ page.date|localizeddate("long", 'none', 'fr-FR', 'Europe/Paris') }}
			</time>
			{% set info_sep = (page.taxonomy['work.agency'][0] and page.taxonomy['work.client'][0]) ? ' | ' : '' %}
			<p>{{ page.taxonomy['work.agency'][0] }}
				{{ info_sep }}
				{{ page.taxonomy['work.client'][0] }}</p>
		</div>
	</div>

	<div class="e-content">
		{{ page.content|raw }}
	</div>

	{% for module in page.collection() %}
		{{ module.content|raw }}
	{% endfor %}

	<p class="immediate-navigation">
		{% if not page.isFirst %}
			<a class="immediate-navigation__prev" href="{{ page.nextSibling.url }}">
				{% if (page.nextSibling.header is defined and page.nextSibling.header.title is defined) %}
					{{ page.nextSibling.header.title }}
				{% else %}
					{{ 'BLOG.ITEM.NEXT_POST'|t }}
				{% endif %}
			</a>
		{% endif %}

		{% if not page.isLast %}
			<a class="immediate-navigation__next" href="{{ page.prevSibling.url }}">
				{% if (page.prevSibling.header is defined and page.prevSibling.header.title is defined) %}
					{{ page.prevSibling.header.title }}
				{% else %}
					{{ 'BLOG.ITEM.PREV_POST'|t }}
				{% endif %}
			</a>
		{% endif %}
	</p>
</article>
