{% if child.taxonomy.work_type %}
  {% set data_work_type = child.taxonomy.work_type|join(',') %}
{% endif %}

{% set header_image = child.header.header_image|defined(true) %}
{% set header_image_file = child.header.header_image_file %}
{% set no_image = false %}
{% if header_image %}
    {% if header_image_file %}
        {% set header_image_media = child.media.images[header_image_file] %}
    {% elseif child.media.images %}
        {% set header_image_media = child.media.images|first %}
    {% else %}
        {% set no_image = true %}
    {% endif %}
{% endif %}

<article class="portfolio--teaser" data-work-type="{{ data_work_type }}">
  <a class="portfolio__link" href="{{ child.url }}">
    <div class="portfolio__content">
      <h1 class="portfolio__title">{{ child.title }}</h1>
      {% if header_image and no_image != true %}
      <div class="portfolio__image">
          <img
            src="{{ header_image_media.cropZoom(400, 300).url() }}"
            alt=""
            width="400"
            height="300"
        />
      </div>
      {% endif %}
      <p class="description">{{ child.header.description }}</p>

     {#  <div class="portfolio__infos">
        {% set info_sep = (child.taxonomy.work_agency[0] and child.taxonomy.work_client[0]) ? ' | ' : '' %}
        {{child.taxonomy.work_agency[0]}} {{ info_sep }} {{child.taxonomy.work_client[0]}}
      </div> #}
    </div>
  </a>
</article>
