@use 'sass:math';

@function rem($target) {
  @if $target == 0 {
    @return 0;
  }

  @return $target * 1rem;
}

@function em($target) {
  @return $target * 1em;
}

@function hsl($h, $s, $l) {
  @return unquote('hsl(#{$h}, #{$s}, #{$l})');
}

// @function hsla($h, $s, $l, $a) {
//   @return unquote('hsla(#{$h}, #{$s}, #{$l}, #{$a})');
// }


@function get-font-size($setting) {
  $unitless-font-size: $base-font-size;
  @if $setting < 0 {
    $unitless-font-size: math.div(1, math.pow($scale-ratio-big, math.abs($setting)));
  } @else {
    $unitless-font-size: math.pow($scale-ratio-big, $setting);
  }

  @return $unitless-font-size;
}
