@use 'sass:math';
@use './functions';

@mixin baseline-guide() {
  background-image: linear-gradient($guide-color 1px, transparent 1px);
  background-size: 100% rem($rhythm-unit);
}

@mixin type-setting($setting, $line-height: false, $em: false) {
  $unitless-font-size: get-font-size($setting);

  @if ($em == true) {
    font-size: em($unitless-font-size);
  } @else {
    font-size: rem($unitless-font-size);
  }

  @if $line-height == true {
    line-height: ceil(math.div($unitless-font-size, $rhythm-unit)) *
      math.div($rhythm-unit, $unitless-font-size);
  }
}

@mixin respond-to($breakpoint, $direction: 'min') {
  $value: map-get($map-breakpoints, $breakpoint);

  @if $value !=null {
    @if ($direction == 'max') {
      @media (max-width: $value) {
        @content;
      }
    } @else {
      @media (min-width: $value) {
        @content;
      }
    }
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin basic-link() {
  text-decoration: none;
  color: var(--color-primary);
  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s linear;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--color-accent);
  }
}

@mixin shiny-link($full: false) {
  text-decoration: none;

  @if $full == true {
    color: var(--color-background);
    background-size: 400% 100%;
  } @else {
    color: var(--color-primary);
    background-size: 400% 3px;
  }

  background-position: bottom 0 left 0%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    var(--color-accent),
    var(--color-accent),
    var(--color-primary)
  );

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.25s linear, background-position 0.25s linear,
      background-size 0.25s linear;
  }

  &:visited {
    @if $full == true {
      color: var(--color-background-offset);
    } @else {
      color: var(--color-primary-offset);
    }
  }

  &:hover,
  &:focus {
    @if $full == true {
      color: var(--color-background);
    } @else {
      color: var(--color-accent-offset);
    }

    background-position: bottom 0 left 100%;
    @if $full == true {
      background-size: 400% 100%;
    } @else {
      background-size: 400% 6px;
    }
  }
}
