$debug: false;
$guide-color: #ff6ba6;

$base-font-size: 1.25;
$scale-ratio: 1.2; // minor third
$scale-ratio-big: 1.333; // perfect fourth
$base-line-height: 1.5;
$rhythm-unit: $base-line-height;

$width-gutter: $rhythm-unit * 2;

$border-radius: 4px;

$map-breakpoints: (
  'tiny': 500px,
  'small': 35rem,
  'medium': 60rem,
  'large': 80rem,
);

$widths: (
  'thin': 35rem,
  'narrow': 45rem,
  'medium': 63rem,
);

$colors: (
  'primary': (
    'dark': 'hsl(32, 72%, 70%)',
    'light': 'hsl(3, 58%, 22%)',
  ),
  'primary-offset': (
    'dark': 'hsl(33, 69%, 65%)',
    'light': 'hsl(3, 51%, 20%)',
  ),
  'accent': (
    'dark': 'hsl(337, 88%, 57%)',
    'light': 'hsl(335, 76%, 34%)',
  ),
  'accent-offset': (
    'dark': 'hsl(335, 48%, 70%)',
    'light': 'hsl(335, 48%, 25%)',
  ),
  'text': (
    'dark': 'hsl(0, 0%, 90%)',
    'light': 'hsl(0, 0%, 9%)',
  ),
  'text-offset': (
    'dark': 'hsl(0, 0%, 80%)',
    'light': 'hsl(0, 0%, 13%)',
  ),
  'text-inverse': (
    'dark': 'hsl(0, 0%, 9%)',
    'light': 'hsl(0, 0%, 90%)',
  ),
  'background': (
    'dark': 'hsl(16, 33.3%, 8.8%)',
    'light': 'hsl(60, 32%, 90%)',
  ),
  'background-offset': (
    'dark': 'hsl(17, 48%, 11%)',
    'light': 'hsl(41, 32%, 75%)',
  ),
  'border': (
    'dark': 'hsl(17, 53%, 16%)',
    'light': 'hsl(29, 36%, 76%)',
  ),
);
