{% macro input(name, value, type, size) %}
	<input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}"/>
{% endmacro %}

{% macro icon(name, classes) %}
	{% set classes = classes|default() ~ ' icon-svg icon-' ~ name %}
	{{ svg_image('theme://dist/icons/' ~ name ~ '.svg', classes)|raw }}
{% endmacro %}

{% macro date(date, class) %}
	<time class="{{ class }}" datetime="{{ date|date("c") }}" title="{{ date|localizeddate("long", 'none', 'fr-FR', 'Europe/Paris') }}">
		<span class="date__day">{{ date|date("j") }}</span>
		<span class="date__month">{{ date|localizeddate("long", 'none', 'fr-FR', 'Europe/Paris', 'MMMM') }}</span>
		<span class="date__year">{{ date|date("Y") }}</span>
	</time>
{% endmacro %}
