{% set recipe_image = page.header.image|defined(true) %}
{% if recipe_image %}
	{% set recipe_image_media = (page.header.image_file) ? page.media.images[page.header.image_file] : page.media.images|first %}
{% endif %}

<article id="recipe-{{ page.id }}" class="recipe" itemscope itemtype="https://schema.org/Recipe">
	{% if header.title %}
		<h1 class="recipe__title" itemprop="name">{{ header.title }}</h1>
	{% endif %}

	{% if recipe_image_media %}
		<img itemprop="image" class="recipe__image" src="{{ recipe_image_media.cropResize(1200).url }}" alt=""/>
	{% endif %}

	<dl class="recipe__meta">
		{% if header.time %}
			{% if header.time.prep %}
				{% set prep_time = header.time.prep %}
				{% set prep_time_values = prep_time|time_values %}
				<dt>{{- "RECIPE.TIME.PREP_TITLE"|t -}}</dt>
				<dd>
					<time datetime="{{ prep_time|machine_time }}" content="{{ prep_time|machine_time }}" itemprop="prepTime">
						{% if prep_time_values["0"] is same as(0) %}
							{{- "RECIPE.TIME.HUMAN_WITHOUT_HOUR"|t(prep_time_values["1"]) -}}
						{% else %}
							{{- "RECIPE.TIME.HUMAN"|t(prep_time_values["0"], prep_time_values["1"]) -}}
						{% endif %}
					</time>
				</dd>
			{% endif %}
			{% if header.time.cook %}
				{% set cook_time = header.time.cook %}
				{% set cook_time_values = cook_time|time_values %}
				<dt>{{- "RECIPE.TIME.COOK_TITLE"|t -}}</dt>
				<dd>
					<time datetime="{{ cook_time|machine_time }}" content="{{ cook_time|machine_time }}" itemprop="cookTime">
						{% if cook_time_values["0"] is same as(0) %}
							{{- "RECIPE.TIME.HUMAN_WITHOUT_HOUR"|t(cook_time_values["1"]) -}}
						{% else %}
							{{- "RECIPE.TIME.HUMAN"|t(cook_time_values["0"], cook_time_values["1"]) -}}
						{% endif %}
					</time>
				</dd>
			{% endif %}
		{% endif %}
		{% if header.servings %}
			<dt>{{- "RECIPE.SERVINGS"|t -}}</dt>
			<dd>{{- header.servings -}}</dd>
		{% endif %}
	</dl>

	{% if header.ingredients %}
		<div class="recipe__ingredients">
			<h2 class="recipe__subtitle">Ingrédients</h2>

			{# If the first key of header.ingredients matches, it's a number, so the ingredients are not two-dimensional #}
			{% if header.ingredients|keys[0] matches '/^\\d+$/' %}
				<ul class="recipe__ingredients__list">
					{% for ingredient in header.ingredients %}
						<li itemprop="recipeIngredient">{{ ingredient }}</li>
					{% endfor %}
				</ul>
			{% else %}
				{% for group, ingredient in header.ingredients %}
					<h3 class="recipe__ingredients-group__title">{{ group }}</h3>
					<ul class="recipe__ingredients__list">
						{% for ingr in ingredient %}
							<li itemprop="recipeIngredient">{{ ingr }}
							{% endfor %}
						</ul>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}

		{% if header.steps %}
			<div class="recipe__steps">
				<h2 class="recipe__subtitle">Étapes</h2>
				<ol class="recipe__steps__list" itemprop="recipeInstructions">
					{% for step in header.steps %}
						<li itemprop="step">{{ step }}</li>
					{% endfor %}
				</ol>
			</div>
		{% endif %}

		<div class="recipe__content">
			<h2 class="recipe__subtitle">Notes</h2>
			{{ content|raw }}
		</div>
	</article>
