<div class="modular-row callout">
    {% set image = page.media.images|first %}
    {% if image %}
        {{ image.cropResize(400, 400).html('', '', 'align-' ~ page.header.image_align)|raw }}
    {% endif %}
{{ content }}
</div>
