.aside__block--syndicate {
  .aside__block__title {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1ex;
    }
  }

  ul {
    display: inline-block;
    margin: 0;
    columns: 3;
    column-gap: rem($rhythm-unit);
  }

  a {
    @include basic-link();
  }
}
