.main-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .search-box {
    margin: 0.5rem;
  }
}

.surprise {
  margin: 0.5rem;
  line-height: 1;
  padding: 0.25rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s linear;
  }
}

.back-to-top {
  background: var(--color-text-offset);
  color: var(--color-background-offset);
  border-radius: 100%;
  line-height: 1;
  padding: 0.25rem;
  text-decoration: none;
  position: fixed;
  bottom: rem($rhythm-unit + 0.75);
  right: 0.5rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s linear;
  }

  &:visited {
    color: var(--color-background-offset);
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  .icon-svg {
    vertical-align: top;
  }
}
