@use 'sass:math';

.main-header {
  position: relative;
  margin-bottom: rem($rhythm-unit);
  margin-top: rem($rhythm-unit);

  @include respond-to('medium') {
    margin-top: 0;
  }

  .container {
    // fallback for IE11- and browsers that do not understand custom properties
    max-width: 1200px;

    @supports (--a: 0) {
      max-width: var(--width-container);
    }

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include respond-to('small') {
    @include respond-to('medium') {
      flex-direction: row;
      align-items: center;
      padding-left: 32px;
      padding-right: 32px;

      @supports (--a: 0) {
        padding-left: math.div(rem($width-gutter), 2);
        padding-right: math.div(rem($width-gutter), 2);
      }
    }
  }
}

.main-header__logo {
  // @include type-setting(2, $line-height: true);
  // font-weight: 700;
  text-decoration: none;
  display: inline-block;
  color: var(--color-primary);
  transition: color 0.2s linear;
  position: relative;
  margin: 0 auto;

  &::after,
  &::before {
    @include type-setting(2, $line-height: true);
    position: absolute;
    opacity: 0;
    font-weight: 700;
    transition: opacity 0.15s ease-in-out;
    white-space: nowrap;

    @media (prefers-reduced-motion: no-preference) {
      transition: margin 0.2s ease-in-out, opacity 0.15s ease-in-out;
    }
  }

  &::before {
    content: '<';
    right: 100%;
    padding-right: 2px;

    @media (prefers-reduced-motion: no-preference) {
      margin-right: 10px;
    }
  }

  &::after {
    content: '/>';
    left: 100%;
    padding-left: 1ex;

    @media (prefers-reduced-motion: no-preference) {
      margin-left: 10px;
    }
  }

  img {
    vertical-align: top;
    height: rem(3);
    width: auto;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
    outline: none;

    &::after,
    &::before {
      opacity: 1;
      margin: 0;
    }
  }
}

.main-navigation {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  @include respond-to('medium') {
    justify-content: flex-end;
  }
}

.main-navigation__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-navigation__item {
  @include type-setting(0, $line-height: true);
  font-weight: 700;
  display: inline-flex;
  padding: 0;
  text-decoration: none;
  color: var(--color-primary);
  white-space: nowrap;
  flex-basis: 50%;
  justify-content: center;

  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s linear;
  }

  @include respond-to('small') {
    flex-basis: auto;
  }

  @include respond-to('medium') {
    padding-top: math.div(rem($rhythm-unit), 2);
    padding-bottom: math.div(rem($rhythm-unit), 2);
  }

  &::after,
  &::before {
    content: '';
    position: relative;
    opacity: 0;
    min-width: 2ex;
    transition: opacity 0.15s ease-in-out;

    @media (prefers-reduced-motion: no-preference) {
      transition: margin 0.2s ease-in-out, opacity 0.15s ease-in-out,
        left 0.2s ease-in-out, right 0.2s ease-in-out,
        text-transform 0.2s ease-in-out;
    }
  }

  &::before {
    @media (prefers-reduced-motion: no-preference) {
      right: 1ex;
    }
    text-align: right;
  }

  &::after {
    @media (prefers-reduced-motion: no-preference) {
      left: 1ex;
    }
    text-align: left;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
    outline: none;

    &::after,
    &::before {
      opacity: 1;
    }

    &::before {
      right: 0;
    }

    &::after {
      left: 0;
    }
  }
}

.main-navigation__item--portfolio {
  &::before {
    content: '$';
  }
}

.main-navigation__item--notebook {
  &::before {
    content: '--';
  }
}

.main-navigation__item--about {
  &::before {
    content: '{{';
    padding-right: 1ex;
  }

  &::after {
    content: '}}';
    padding-left: 1ex;
  }
}

.main-navigation__item--now {
  &::before {
    content: '**';
  }

  &::after {
    content: '**';
  }
}

.main-navigation__item--short-notes {
  &::after {
    content: ';';
  }
}

.main-navigation__item--current {
  @include shiny-link(true);

  @include respond-to('small') {
    @include shiny-link();
  }

  &::after,
  &::before {
    opacity: 1;
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;
  }
}

.has-js .theme-switcher-wrapper {
  margin-left: 8px;
  min-width: 1.5rem;
}

.theme-switcher {
  padding: 0.25rem;
  background: var(--color-text-offset);
  color: var(--color-background-offset);
  line-height: 1;
  border-radius: 100%;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  top: math.div(rem($rhythm-unit), 2);
  right: math.div(rem($rhythm-unit), 2);

  // @include respond-to('small') {
  @include respond-to('medium') {
    position: static;
  }

  &:hover,
  &:focus {
    background: var(--color-accent);
    color: var(--color-background);
    outline: none;
    box-shadow: none;
  }

  &:active {
    top: math.div(rem($rhythm-unit), 2);
    left: auto;
  }

  .icon-svg {
    vertical-align: top;
  }
}
