@use 'sass:math';

.skip-links {
  @include type-setting(-1, $line-height: true);

  .container {
    padding-left: math.div(rem($width-gutter), 2);
    padding-right: math.div(rem($width-gutter), 2);
    display: flex;
    flex-wrap: wrap;
  }

  a {
    @include basic-link();

    @include respond-to('medium', 'max') {
      position: absolute;
      z-index: 1;
      padding: 0.5rem;
      background: var(--color-background);
      border: 1px solid var(--color-border);
      transform: translateY(-100%);
      left: 0;
      margin: 0;

      &:focus {
        transform: translateY(0%);
        outline: none;
      }
    }

    @include respond-to('medium') {
      + a {
        margin-left: math.div(rem($rhythm-unit), 2);
      }
    }
  }
}
