@use 'sass:math';

// normal
.article-teaser {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: rem($rhythm-unit);
  margin-bottom: rem($rhythm-unit);
  // border-top: 4px solid var(--color-accent);
  // padding-top: calc(#{rem($rhythm-unit)} - 4px);

  // &.article-teaser--with-image {
  //   border-top: 0;
  //   padding-top: 0;
  // }

  > * {
    padding: 0 rem($rhythm-unit);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: var(--color-background-offset);
    opacity: 0.3;
  }

  &.is-draft::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background: rgb(218, 16, 16);
    border-radius: 100%;
  }
}

.article-teaser__image {
  padding: 0;
  margin-bottom: rem($rhythm-unit);
  order: -1;
}

.article-teaser__meta {
  @include type-setting(-1, $line-height: true);

  margin-bottom: rem($rhythm-unit);

  > * + *::before {
    content: '–';
  }
}

.article-teaser__title {
  @include type-setting(1, $line-height: true);

  margin-bottom: 0;

  a {
    @include shiny-link();
  }
}

.article-teaser__content {
  > *:last-child {
    margin-bottom: 0;
  }
}

.article-teaser__read-more {
  @include type-setting(-1, $line-height: true);
  @include shiny-link();
  display: inline-block;
  vertical-align: top;

  // @include basic-link();

  // align-self: flex-end;
  // margin: 0 auto;
  // display: inline-block;
}

.article-teaser--portrait {
  @include respond-to('small') {
    flex-direction: row;
    align-items: flex-start;

    .article-teaser__image {
      order: 1;
      width: auto;
    }
  }

  .article-teaser__image {
    margin: 0 auto;
  }
}

// mini
.article-teaser--mini {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  @include respond-to('tiny') {
    min-height: 150px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: var(--color-background-offset);
    opacity: 0.3;
  }

  &.is-draft::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    background: rgb(218, 16, 16);
    border-radius: 100%;
  }
}

.article-teaser--mini__content {
  height: 100%;
  padding: math.div(rem($rhythm-unit), 2);
  flex: 1;
}

.article-teaser--mini__image {
  max-width: 60px;

  @include respond-to('tiny') {
    max-width: 100%;
  }
}

.article-teaser--mini__title {
  @include type-setting(0, $line-height: true);

  margin-top: 0;
  margin-bottom: 0;

  @include respond-to('tiny') {
    @include type-setting(1, $line-height: true);
  }

  a {
    @include shiny-link();
  }
}

.article-teaser--mini__meta {
  @include type-setting(-1, $line-height: true);
}
