pre {
  margin: rem($rhythm-unit) 0;
}

code,
kbd {
  background: var(--color-background-offset);
  color: var(--color-text);
  border-radius: $border-radius;
  padding-left: 4px;
  padding-right: 4px;
}

pre .hljs {
  padding: rem($rhythm-unit);
  border: 0;
}

pre code {
  padding: rem($rhythm-unit);
  border: 0;
  border-radius: 0;
  display: block;
}
