@use 'sass:math';

.conversation {
  position: relative;
  margin-top: rem($rhythm-unit) * 2;
  margin-bottom: rem($rhythm-unit) * 2;

  &::after {
    content: '';
    position: absolute;
    margin: math.div(rem($width-gutter), 2) * -1;
    right: 0;
    top: 0;
    background: var(--color-background-offset);
    left: 0;
    bottom: 0;
    opacity: 0.2;
    z-index: -1;
  }
}

.conversation--person {
  font-variant: small-caps;
}
