@use 'sass:math';

.pagination {
  margin: rem($rhythm-unit) 0;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.3;
    background: var(--color-primary-offset);
    min-height: rem($rhythm-unit);
    bottom: -50%;
    transform: skewY(-3deg);
    transform-origin: bottom left;
    z-index: -3;
  }
}

.pagination__item {
  padding: 0 math.div(rem($rhythm-unit), 2);
  margin: 0 4px;
  box-shadow: 0 0 0 1px inset var(--color-border);
  text-decoration: none;
  background: var(--color-background-offset);
  border-radius: $border-radius;

  @media (prefers-reduced-motion: no-preference) {
    transition: background 0.2s linear, color 0.25s linear;
  }

  &:not(.pagination_item--current) {
    &:hover,
    &:focus {
      background: var(--color-primary);
      color: var(--color-text-inverse);
      box-shadow: 0 0 0 1px inset var(--color-primary);
    }
  }
}

.pagination_item--current {
  background: var(--color-accent);
  color: var(--color-background);
  box-shadow: 0 0 0 1px inset var(--color-accent-offset);
}
