@use 'sass:math';

.recipe {
  background: var(--color-background-offset);
  display: flex;
  flex-direction: column;
  margin: 0 (math.div(rem($width-gutter), 2) * -1);
  padding-bottom: math.div(rem($width-gutter), 2);
  position: relative;
  z-index: 0;

  > * {
    padding: 0 math.div(rem($width-gutter), 2);
  }

  .recipe__image {
    padding: 0;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &::before {
    background: var(--color-accent-offset);
    opacity: 0.05;
    min-height: rem($rhythm-unit) * 10;
    left: 0;
    transform: skewY(40deg);
    transform-origin: bottom right;
    z-index: 0;
  }

  &::after {
    background: var(--color-background);
    min-height: rem($rhythm-unit) * 6;
    left: 0;
    transform: skewY(-15deg);
    transform-origin: bottom left;
    z-index: -1;
    opacity: 0.5;
  }
}

.recipe__title {
  @include type-setting(2, $line-height: true);
}

.recipe__image {
  order: -1;
}

.recipe__meta {
  display: flex;
  
  dt {
    font-weight: 700;
  }

  dd {
    margin: 0;

    &::before {
      content: ' ';
      white-space: pre;
    }
  }

  dd + dt::before {
    content: '•';
    display: inline-block;
    margin: 0 0.5ex;
    font-weight: 400;
  }
}

.recipe__content {
  > *:last-child {
    margin-bottom: 0;
  }
}

.recipe__subtitle {
  @include type-setting(1, $line-height: true);

  margin-top: 0;
}
