.search-box {
  width: 100%;
  max-width: var(--width-container-narrow);

  * + * {
    margin-left: 4px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    display: inline-flex;
    align-items: center;
  }

  input {
    flex-grow: 1;
  }

  .search-submit {
    @include type-setting(0, $line-height: true);

    display: inline-flex;
    align-items: center;
    vertical-align: top;
  }
}
