.short-note {
  margin-bottom: rem($rhythm-unit);
  border-top: 4px solid var(--color-accent);
  position: relative;
  padding: rem($rhythm-unit);
  padding-top: calc(#{rem($rhythm-unit)} - 4px);
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3; // WHY
    background: var(--color-background-offset);
    opacity: 0.3;
  }
}

.short-note--standalone {
  max-width: calc(var(--width-container-narrow) - rem($rhythm-unit) * 2);
  border-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.short-note__date {
  @include type-setting(-1, $line-height: true);
  display: block;
  margin-bottom: rem($rhythm-unit);
}

.short-note__permalink {
  @include type-setting(-1, $line-height: true);
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
}

.short-note__content {
  a {
    @include shiny-link();
    text-decoration: none;
  }
}
