.spoiler {
  background: var(--color-text);
  color: transparent;
  cursor: help;

  @media (prefers-reduced-motion: no-preference) {
    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
  }
}

.spoiler:hover,
.spoiler:focus {
  background: var(--color-background-offset);
  color: inherit;
}
