@use 'sass:math';

.writing {
  position: relative;
  margin-top: rem($rhythm-unit) * 2;
  margin-bottom: rem($rhythm-unit) * 2;

  &::after {
    content: '';
    position: absolute;
    margin: math.div(rem($width-gutter), 2) * -1;
    right: 0;
    top: 0;
    background: var(--color-accent);
    left: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -1;
  }

  hr {
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      var(--color-accent),
      transparent
    );
    transform: none;
    border: 0;
    margin: (rem($rhythm-unit)) 0 calc(#{rem($rhythm-unit)} - 1px) 0;

    &::before,
    &::after {
      content: none;
    }
  }
}
