@use 'sass:math';

// ARTICLE
.article__header {
  margin-bottom: rem($rhythm-unit);
}

.article__title {
  @include respond-to('large') {
    text-align: center;
  }
}

.article__featured-image {
  @include respond-to('small') {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    width: 100%;
  }
}

.article__meta {
  margin-bottom: rem($rhythm-unit);

  dl,
  dd {
    margin: 0;
  }

  dt,
  dd,
  span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
  }

  .icon-svg {
    margin-right: 4px;
  }

  a {
    @include shiny-link();
    text-decoration: none;
  }
}

.article__content {
  > :not(pre, .figure-media--wide, .article__lead) {
    max-width: calc(var(--width-container-narrow) - rem($rhythm-unit) * 2);
    margin-right: auto;
    margin-left: auto;
  }

  > :not(.footnotes) {
    ul,
    ol {
      max-width: var(--width-container-narrow);
      margin-right: auto;
      margin-left: auto;
      padding-right: rem($rhythm-unit);
    }
  }

  .figure-media--wide {
    figcaption {
      @include respond-to('medium') {
        padding-left: math.div(rem($width-gutter), 2);
        padding-right: math.div(rem($width-gutter), 2);
      }
    }

    img {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  p:has(.figure-media--wide) {
    text-align: center;
    max-width: none;
  }

  .media--align-left,
  .media--align-right {
    margin-bottom: rem($rhythm-unit);

    @include respond-to('small') {
      margin-bottom: 0;
    }

    img {
      float: none; // needed because for now the figure and the img have the same class
      margin: 0; // needed because for now the figure and the img have the same class
      width: auto;
      max-width: none;
    }

    figcaption {
      max-width: 300px;

      @supports (width: min-content) {
        max-width: none;
      }
    }
  }

  .media--align-left {
    @include respond-to('small') {
      float: left;
      width: min-content;
      margin-right: rem($rhythm-unit);
    }

    @include respond-to('medium') {
      margin-left: rem($rhythm-unit) * -4;
    }
  }

  .media--align-right {
    @include respond-to('small') {
      float: right;
      margin-left: rem($rhythm-unit);
    }

    @include respond-to('medium') {
      margin-right: rem($rhythm-unit) * 4;
    }
  }

  .media--align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
      width: auto;
      max-width: none;
      margin: 0;
      display: inline-block;
    }
  }

  figcaption {
    @include type-setting(-1, $line-height: true);

    max-width: var(--width-container-narrow);
    margin-left: auto;
    margin-right: auto;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .article__lead {
    @include type-setting(1, $line-height: true);
    margin-bottom: rem($rhythm-unit);

    + .media--align-left {
      margin-top: 0;
      margin-bottom: rem($rhythm-unit);
    }
  }

  a:not(.article__go-to-recipe) {
    @include shiny-link();
    text-decoration: none;
  }

  .article__go-to-recipe {
    background: var(--color-primary);
    color: var(--color-text-inverse);
    display: inline-flex;
    padding: 0 8px;
    border-radius: $border-radius;
    text-decoration: none;
    align-items: center;
    vertical-align: top;

    @media (prefers-reduced-motion: no-preference) {
      transition: background-color 0.2s linear;
    }

    &:hover,
    &:focus {
      background: var(--color-primary-offset);
    }

    .icon-svg {
      margin-right: 4px;
    }
  }
}

.article .recipe {
  margin-top: rem($rhythm-unit);
}

.article__immediate-navigation {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: rem(2 * $rhythm-unit);
  margin-bottom: rem(2 * $rhythm-unit);

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
  }

  &::before {
    background: var(--color-background-offset);
    min-height: rem(3 * $rhythm-unit);
    top: 0;
    transform: skewY(-2deg);
    transform-origin: top left;
    z-index: -2;
  }

  &::after {
    background: var(--color-primary);
    min-height: rem(2 * $rhythm-unit);
    bottom: 0;
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: -3;
  }

  > * {
    flex: 1 1 300px;
    display: inline-flex;
    align-items: center;
  }

  a {
    @include basic-link();
  }

  .icon-svg {
    flex: 0 0 auto;
  }
}

.immediate-navigation--prev {
  .icon-svg {
    margin-right: 4px;
  }
}

.immediate-navigation--next {
  justify-content: flex-end;
  text-align: right;

  .icon-svg {
    margin-left: 4px;
  }
}
