@use 'sass:math';

.articles-list__title {
  margin-bottom: rem($rhythm-unit);

  @include respond-to('small') {
    text-align: center;
  }
}

.articles-list__intro {
  max-width: calc(var(--width-container-narrow) - rem($rhythm-unit) * 2);
  margin-left: auto;
  margin-right: auto;
}

.articles-list__container {
  max-width: calc(var(--width-container-narrow) - rem($rhythm-unit) * 2);
  margin: 0 auto;
}

.notebook__type {
  @include shiny-link();
  display: inline-block;
  padding: 0 math.div(rem($rhythm-unit), 4);
}

.notebook__type--is-active {
  @include shiny-link(true);
}
