@use 'sass:math';

.home__module--about {
  > .container {
    max-width: calc(var(--width-container) - rem($rhythm-unit) * 4);

    @include respond-to('large') {
      text-align: center;
    }
  }

  .container > h1,
  .container > p {
    @include type-setting(1, $line-height: true);
    margin: 0;
    font-weight: normal;

    @include respond-to('medium') {
      @include type-setting(3, $line-height: true);
    }
  }

  sup {
    font-size: 0.5em;
  }

  .footnotes {
    max-width: calc(var(--width-container-thin) - rem($rhythm-unit) * 2);
    margin: 0 auto;
    margin-top: rem($rhythm-unit);
    text-align: initial;

    .footnote-backref {
      display: none;
    }
  }
}

.home__module--writing {
  max-width: calc(var(--width-container-thin) - rem($rhythm-unit) * 2);
  margin-left: auto;
  margin-right: auto;

  h2 {
    @include type-setting(2, $line-height: true);
  }
}
