.search-results__header {
  .search-results__title {
    margin-bottom: rem($rhythm-unit);
  }
}

.search-results__title {
  @include respond-to('medium', 'max') {
    @include type-setting(2, $line-height: true);
  }

  @include respond-to('large') {
    text-align: center;
  }
}

.search-results__count {
  margin-top: rem($rhythm-unit);
}

.search-results__intro,
.search-results__container {
  max-width: calc(var(--width-container-narrow) - rem($rhythm-unit) * 2);
  margin: 0 auto;
}

.search-result {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: rem($rhythm-unit);
  margin-bottom: rem($rhythm-unit);
  border-top: 4px solid var(--color-accent);
  padding-top: calc(#{rem($rhythm-unit)} - 4px);

  &.search-result--with-image {
    border-top: 0;
    padding-top: 0;
  }

  > * {
    padding: 0 rem($rhythm-unit);
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: var(--color-background-offset);
    opacity: 0.3;
  }
}

.search-result__image {
  padding: 0;
  margin-bottom: rem($rhythm-unit);
  order: -1;
}

.search-result__date {
  @include type-setting(-1, $line-height: true);
  margin-bottom: rem($rhythm-unit);
}

.search-result__title {
  @include type-setting(1, $line-height: true);
  margin-top: 0;
  margin-bottom: 0;

  a {
    @include shiny-link();
  }
}
