.styleguide {
  .colors {
    display: flex;
    flex-wrap: wrap;
  }

  .color {
    padding: rem($rhythm-unit);
    flex: 1 0 220px;
    text-align: center;

    input {
      width: 100%;
    }
  }

  @each $name, $color in $colors {
    .color-#{$name} {
      background: var(--color-#{$name});
    }
  }
}
