:root,
html[data-theme] {
  --color-primary: #FAD78D;
  --color-primary-offset: #FAD69D;
  --color-accent: #C7DEF3;
  --color-accent-offset: #1d4d85;
  --color-text: #e6e6e6;
  --color-text-offset: #cccccc;
  --color-text-inverse: #171717;
  --color-background-offset: #b92628;
  --color-background: #8a1718;
  --color-border: #3e1f13;
}

.theme-switcher {
    display: none;
}

@font-face {
    font-family: 'Scifly Sans';
    src: url('scifly-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.article__title,
.article__lead {
    font-family: 'Scifly Sans';
    font-weight: normal;
}
