<article class="short-note {{ standalone is defined and standalone is same as true ? 'short-note--standalone' : '' }}">
	<time class="short-note__date" datetime="{{ page.date|date("c") }}" title="{{ page.date|localizeddate("long", 'long', 'fr-FR', 'Europe/Paris') }}">
		{{ page.date|localizeddate("long", 'short', 'fr-FR', 'Europe/Paris') }}
	</time>
	<div class="short-note__content">
		{{ page.content|raw }}
	</div>
	{% if permalink is defined and permalink is same as(true) %}
		<a href="{{ page.url }}" class="short-note__permalink">{{'BLOG.ITEM.PERMALINK'|t}}</a>
	{% endif %}
</article>
