{% set title = page_title|default(search_results ? ('SEARCH_RESULTS.TITLE'|t) : 'Carnet') %}

{% macro activeType(uri, name) %}
	{{ (uri.param("type") is same as(name) ) ? 'notebook__type--is-active' : '' }}
{% endmacro %}

<header class="articles-list__header">
	<h1 class="articles-list__title" id="main-title" tabindex="-1">{{ title }}</h1>
</header>

{% if search_results %}
	{% if query %}
		{% set count = search_results ? search_results.count : 0 %}
		<div class="search-results__header">
			{% if count == 1 %}
				{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query)|raw }}
			{% else %}
				{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query, count)|raw }}
			{% endif %}
		</div>
	{% endif %}
{% endif %}

{% if collection.params.taxonomies.type or (not collection.params.taxonomies and not search_result) %}
	<div class="articles-list__intro">
		{{ content|raw }}

		<p>
			<a href="{{ page.url|rtrim('/') }}" class="notebook__type {{ _self.activeType(uri, false) }}">Tout</a>
			<a href="{{ page.url|rtrim('/') }}/type{{ config.system.param_sep }}article" class="notebook__type {{ _self.activeType(uri, 'article') }}">Articles</a>
			<a href="{{ page.url|rtrim('/') }}/type{{ config.system.param_sep }}short-note" class="notebook__type {{ _self.activeType(uri, 'short-note') }}">Notules</a>
		</p>

		{% if uri.param('type') is same as('short-note') %}
			<p>{{ page.header.short_notes_description }}</p>
		{% endif %}

	</div>

{% endif %}
