{% import 'macros/macros.html.twig' as macro %}

{% set image = page.header.thumbnail ? page.media.images[page.header.thumbnail] %}
{% if image is empty %}
	{% set image = page.header.header_image_file ? page.media.images[page.header.header_image_file] : '' %}
{% endif %}

{% set is_draft = page.header.draft %}

{% set publication_date = page.header.publish_date|default(page.header.date) %}

<article class="article-teaser--mini {{ image ? 'article-teaser--mini--with-image' }} {{ is_draft ? 'is-draft' }}">
	<div class="article-teaser--mini__content">
		<h1 class="article-teaser--mini__title">
			<a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
		</h1>
		<div class="article-teaser--mini__meta">
			{{ macro.date(publication_date, 'article--teaser--mini__date') }}
		</div>
	</div>
	{% if image %}
		{{ image.cropZoom(150, 150).classes('article-teaser--mini__image').loading('lazy').html }}
	{% endif %}
</article>
