{% import 'macros/macros.html.twig' as macro %}

{% set image_orientation = page.header.thumbnail_orientation|default('landscape') %}
{% set image = page.header.thumbnail ? page.media.images[page.header.thumbnail] %}
{% if image is empty %}
	{% set image = page.header.header_image_file ? page.media.images[page.header.header_image_file] : '' %}
{% endif %}

{% set is_draft = page.header.draft %}

{% set publication_date = page.header.publish_date|default(page.header.date) %}

<article class="article-teaser {{ image ? 'article-teaser--with-image article-teaser--' ~ image_orientation }} {{ is_draft ? 'is-draft' }}">
	<div class="article-teaser__content">
		<h{{title_html_level}} class="article-teaser__title">
			<a href="{{ page.url }}" rel="bookmark">{{ page.title|raw }}</a>
		</h{{title_html_level}}>

		<div class="article-teaser__meta">
			{{ macro.date(publication_date, 'article--teaser__date') }}

			{% if page.taxonomy.category %}
				<span class="article__taxonomy article__taxonomy--categories">
					<span class="article__taxonomy__title">
						{{ (page.taxonomy.category|length > 1) ? 'BLOG.CATEGORY_TITLE_PLURAL'|t : 'BLOG.CATEGORY_TITLE'|t }}
						:
					</span>
					{% for category in page.taxonomy.category %}
						<a href="{{ blog.url|rtrim('/') }}/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a>
					{% endfor %}
				</span>
			{% endif %}

			{% if page.taxonomy.tag %}
				<span class="article__taxonomy article__taxonomy--tags">
					<span class="article__taxonomy__title">
						{{ (page.taxonomy.tag|length > 1) ? 'BLOG.TAG_TITLE_PLURAL'|t : 'BLOG.TAG_TITLE'|t }}
						:
					</span>
					{% for tag in page.taxonomy.tag %}
						<a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
					{% endfor %}

				</span>
			{% endif %}

		</div>

		<div class="article-teaser__summary">
			{{ page.summary|raw }}
		</div>

		<a href="{{ page.url }}" title="Lire « {{ page.title|e }} »" class="article-teaser__read-more">Lire la suite</a>

	</div>

	{% if image %}
		{% if image_orientation is same as('portrait') %}
			{{ image.cropResize(180, 240).classes('article-teaser__image').loading('lazy').html|raw }}
		{% else %}
			{{ image.cropZoom(840, 240).classes('article-teaser__image').loading('lazy').html|raw }}
		{% endif %}
	{% endif %}

</article>
