{% embed 'partials/base.html.twig' with {'body_classes': 'page--blog-item', 'image': header_image_media.html()} %}

	{% block content %}
		<div class="blog-content-item">
			{% include 'article/blog-article.html.twig' with {'blog': page.parent, 'truncate': false} %}
			{% include 'partials/sidebar.html.twig' with {'blog': page.parent} %}
		</div>
	{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% if page.media["style.css"] is not null %}
			{% do assets.addCss(page.media["style.css"].filepath|replace({(base_dir): ""}), {
				'priority': 50,
				'pipeline': false,
				'id': 'custom-style'
			}) %}
		{% endif %}
	{% endblock %}

{% endembed %}
