{% embed 'partials/base.html.twig' with {'body_classes': 'page--blog'} %}

	{% set collection = search_results ?: page.collection() %}

	{% if collection.params.taxonomies %}
		{% if collection.params.taxonomies.tag %}
			{% set page_title = 'BLOG.TAG_ARCHIVE'|t(collection.params.taxonomies.tag[0]) %}
		{% elseif collection.params.taxonomies.category %}
			{% set page_title = 'BLOG.CATEGORY_ARCHIVE'|t(collection.params.taxonomies.category[0]) %}
		{% endif %}
	{% elseif search_results %}
		{% set page_title = 'SEARCH_RESULTS.TITLE_EXTENDED'|t(query) %}
	{% endif %}

	{% block content %}
		<div class="primary">
			{{ include('articles-list/blog-header.html.twig', {page_title: page_title}) }}

			{% if collection.count is same as(0) %}
				{% include 'partials/no-content.html.twig' with {search_results: search_results} %}
			{% else %}
				<div class="articles-list__container">
					{% for child in collection %}
						{% if child.routable %}
							{% if (child.taxonomy.type[0] is same as("article")) %}
								{% include 'articles-list/blog-teaser.html.twig' with {'blog': page, 'page': child, 'title_html_level': 2} %}
							{% elseif (child.taxonomy.type[0] is same as("short-note")) %}
								{{ include('short-note.html.twig', _context|merge({'page': child, 'list': true,'title_html_level': 2})) }}
							{% else %}
								<p>erreur sur
									{{child.title}}
									({{child.folder}})</p>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>

				{% if config.plugins.pagination.enabled and collection.params.pagination %}
					{% include 'partials/pagination.html.twig' with {'base_url': page.url, 'pagination': collection.params.pagination} %}
				{% endif %}
			{% endif %}

			{# On last page of blog, display links to old blogs #}
			{% if not collection.params.taxonomies and not search_results %}
				{% set last_page_number = collection.params.pagination|length %}
				{% if collection.count == 0 or last_page_number <= 1 or collection.params.pagination[last_page_number].isCurrent %}
					{% for child in page.collection('extra_content') %}
						<div class="old-blogs">{{ child.content|raw }}</div>
					{% endfor %}
				{% endif %}
			{% endif %}
		</div>

		{% include 'partials/sidebar.html.twig' with {'blog': page} %}
	{% endblock %}
{% endembed %}
