{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="page--error">
			<h1>{{ 'ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content|raw }}
			</p>

			{% include 'plugins/simplesearch/simplesearch_searchbox.html.twig' %}
	</div>
{% endblock %}
