{% set collection = collection|default(page.collection) %}
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
	<channel>
		<title>{{ collection.params.title }}</title>
		<link>{{ uri.rootUrl(true) }}</link>
		<description>{{ collection.params.description }}</description>
		<language>{{ collection.params.lang }}</language>
		<atom:link href="{{ uri.url(true) }}.{{ uri.extension }}" rel="self" type="application/rss+xml"/>
		{% for item in collection %}
			{% set image = item.header.header_image_file ? item.media.images[item.header.header_image_file] : '' %}
			{% if image %}
				{% set image_width = item.header.header_image_width|defined(1200) %}
			{% endif %}
			{% set title = "" %}
			{% if item.header.title is defined and item.header.title != "" %}
				{% set title = item.header.title|e('html') %}
			{% elseif item.header.date is defined %}
				{% set title = "BLOG.ITEM.SHORT_NOTE_TITLE"|t(item.header.date|localizeddate("long", 'short', 'fr-FR', 'Europe/Paris')) %}
			{% endif %}
			<item>
				<title>{{ title|e }}</title>
				<link>{{ item.url(true) }}</link>
				<description>
					{% if image %}
						<![CDATA[
                        	{{ image.cropResize(image_width).html|absolute_url|raw }}
                    	]]>
					{% endif %}
					<![CDATA[
 						{{ item.content|truncate_html(collection.params.length)|raw }}
					]]>
				</description>
				{% if item.taxonomy.category %}
					<category>{{ item.taxonomy.category|join(',') }}</category>
				{% endif %}
				<guid>{{ item.url(true) }}</guid>
				<pubDate>{{ item.date|date('D, d M Y H:i O') }}</pubDate>
			</item>
		{% endfor %}
	</channel>
</rss>
