{% set collection = collection|default(page.collection) %}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ collection.params.title }}</title>
	<link href="{{ page.url(true) }}.{{ uri.extension() }}" rel="self"/>
	<link href="{{ uri.rootUrl(true) }}" rel="alternate"/>
	{% if collection.params.description %}
		<subtitle>{{ collection.params.description }}</subtitle>
	{% endif %}
	<updated>{{ collection|first.date|date("Y-m-d\\TH:iP") }}</updated>
	<author>
		<name>{{ site.author.name|default("Grav User") }}</name>
	</author>
	<id>{{ uri.rootUrl(true) }}{{ uri.route() }}</id>
	{% for item in collection %}
		{% set image = item.header.header_image_file ? item.media.images[item.header.header_image_file] : '' %}
		{% if image %}
			{% set image_width = item.header.header_image_width|defined(1200) %}
		{% endif %}
		{% set title = "" %}
		{% if item.header.title is defined and item.header.title != "" %}
			{% set title = item.header.title|e('html') %}
		{% elseif item.header.date is defined %}
			{% set title = "BLOG.ITEM.SHORT_NOTE_TITLE"|t(item.header.date|localizeddate("long", 'short', 'fr-FR', 'Europe/Paris')) %}
		{% endif %}
		<entry>
			<title>{{ title|e }}</title>
			<id>{{ item.url(true) }}</id>
			<updated>{{ item.date|date("Y-m-d\\TH:iP") }}</updated>
			<published>{{ item.date|date("Y-m-d\\TH:iP") }}</published>
			<link href="{{ item.url(true) }}"/>
			{% for category in item.taxonomy.category %}
				<category term="{{ category|lower }}" label="{{ category|capitalize }}"/>
			{% endfor %}
			<content type="html">
				{% if image %}
					<![CDATA[
						{{ image.cropResize(image_width).html|absolute_url|raw }}
					]]>
				{% endif %}
				<![CDATA[
					{{ item.content|truncate_html(collection.params.length)|raw }}
				]]>
			</content>
		</entry>
	{% endfor %}
</feed>
