{% embed 'partials/base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% do assets.addCss('theme://css/page--home.css', 101) %}
{% endblock %}

{% block bottom %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{% for module in page.collection() %}
		<div class="home__module home__module--{{ module.folder|slice(1) }}" id="home__module--{{ module.folder|slice(1) }}">
			<div class="container">
				{{ module.content|raw }}

				{% if module.folder == '_writing' %}
					{% set last_article = page.collection('notebook_article') %}
					{% set last_short_note = page.collection('notebook_short_note') %}

					{% if last_article|length > 0 %}
						<h2>{{'HOME.LAST_ARTICLE'|t}}</h2>
						{{ include('articles-list/blog-teaser.html.twig', _context|merge({'page': last_article.first, 'title_html_level': 3})) }}
					{% endif %}

					{% if last_short_note|length > 0 %}
						<h2>{{'HOME.LAST_SHORT_NOTE'|t}}</h2>
						{{ include('short-note.html.twig', _context|merge({'page': last_short_note.first, 'list': true, 'title_html_level': 3})) }}
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% endembed %}