{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true %}

{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlePageNav.min.js') %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
    {% if show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('.secondary-menu').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'active'
        });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        <div class="module module--{{ module.folder|slice(1) }}" id="module--{{ module.folder|slice(1) }}">
            {{ module.content }}
        </div>
    {% endfor %}
{% endblock %}
