{% embed 'partials/base.html.twig' with {'body_classes': 'page--portfolio'} %}
	{% block content %}
		<div class="portfolio-content-item">
			<div id="item" class="h-entry">
			    {% include 'partials/portfolio/portfolio-article.html.twig' with {'portfolio': page.parent, 'truncate': false} %}
			</div>
		</div>
	{% endblock %}
{% endembed %}
