{% embed 'partials/base.html.twig' with {'body_classes': 'page--blog'} %}

	{% set title = "" %}
	{% if header.title is defined %}
		{% set title = header.title|e('html') %}
	{% elseif header.date is defined %}
		{% set title = header.date|localizeddate("long", 'short', 'fr-FR', 'Europe/Paris') %}
	{% endif %}
	{% set page_title = page_title|default(title) %}


	{% block content %}
		<header class="articles-list__header">
			<h1 class="articles-list__title" id="main-title" tabindex="-1">{{ title }}</h1>
		</header>

		{{ content }}

		{% for child in page.collection() %}
			{% if child.routable %}
				{{ include('short-note.html.twig', {page: child, list: true}) }}
			{% endif %}
		{% endfor %}

	{% endblock %}
{% endembed %}
