{% if list is not defined or list is same as(false) %}

	{% embed 'partials/base.html.twig' with {'body_classes': 'page--short-note'} %}
		{% set title = "" %}
		{% if header.title is defined and header.title != "" %}
			{% set title = header.title %}
		{% elseif header.date is defined %}
			{% set title = "BLOG.ITEM.SHORT_NOTE_TITLE"|t(header.date|localizeddate("long", 'short', 'fr-FR', 'Europe/Paris')) %}
		{% endif %}
		{% set page_title = page_title|default(title) %}

		{% block content %}
			{{ include('short-notes/short-note-content.html.twig', {standalone: true, permalink: false, page_title: page_title}) }}

			{% include 'article/article-pagination.html.twig' %}

			{% include 'partials/sidebar.html.twig' with {'blog': page.parent} %}
		{% endblock %}
	{% endembed %}

{% else %}
	{{ include('short-notes/short-note-content.html.twig', {permalink: true}) }}
{% endif %}
