{% embed 'partials/base.html.twig' with {'body_classes': 'page--search-results'} %}

	{% block content %}
		<header class="search-results__header">
			<h1 class="search-results__title">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</h1>
		</header>

		<div class="search-results__intro">
			{% include 'plugins/simplesearch/simplesearch_searchbox.html.twig' %}

			<p class="search-results__count">
				{% if query %}
					{% set count = search_results ? search_results.count : 0 %}
					{% if count is same as(1) %}
						{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
					{% else %}
						{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
					{% endif %}
				{% endif %}
			</p>
		</div>

		<div class="search-results__container">
			{% for page in search_results %}
				{% include 'search-results/simplesearch_item.html.twig' with {'page': page} %}
			{% endfor %}
		</div>
	{% endblock %}
{% endembed %}
