{% embed 'partials/base.html.twig' %}

	{% block javascripts %}
		{{ parent() }}
	{% endblock %}

	{% block stylesheets %}
		{{ parent() }}
		{% do assets.addCss('theme://css/page--taxonomy.css', 101) %}
	{% endblock %}

	{% block bottom %}
		{{ parent() }}
	{% endblock %}

	{% block content %}
		{% set taxlist = taxonomylist.get() %}
		{% if taxlist %}
			<h1>Taxonomies</h1>
			<h2>Catégories</h2>
			<ul>
				{% for tax,value in taxlist['category'] %}
					<li>
						<a href="{{ base_url }}/carnet/category{{ config.system.param_sep }}{{ tax|e('url') }}">
							{{ tax|default('(pas de catégorie)') }}
							({{ value }})
						</a>
					</li>
				{% endfor %}
			</ul>
			<h2>Tags</h2>
			<ul>
				{% for tax,value in taxlist['tag'] %}
					<li>
						<a href="{{ base_url }}/carnet/tag{{ config.system.param_sep }}{{ tax|e('url') }}">
							{{ tax|default('(pas de tag)')}}
							({{ value }})
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endblock %}

{% endembed %}
