{% embed 'partials/base.html.twig' with {'body_classes': 'page--works'} %}

	{# {% set collection = page.collection() %} #}

	{% block content %}

		<header class="works__header">
			<h1 class="works__title">
				Portfolio
			</h1>
		</header>

		<div class="works__content">
			{{ page.content|raw }}
		</div>

		{# <h2>Professionnel</h2>
				<div class="portfolio__wrapper">
				{% for child in collection if not child.header.personal %}
					{% include 'partials/portfolio/portfolio-teaser.html.twig' with {'portfolio': page, 'page': child} %}
				{% endfor %}
				</div>
		
				<h2>Travaux personnels</h2>
				<div class="portfolio__wrapper">
				{% for child in collection if child.header.personal %}
					{% include 'partials/portfolio/portfolio-teaser.html.twig' with {'portfolio': page, 'page': child} %}
				{% endfor %}
				</div> #}

	{% endblock %}

{% endembed %}
