:root,
html[data-theme="light"] {
  --color-primary: #517234;
  --color-primary-offset: #54713d;
  --color-accent: #453220;
  --color-accent-offset: #9c5513;
  --color-background-offset: #f0e9c1;
  --color-background: #f6f0ce;
  --color-border: #3e1f13;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #139103;
    --color-primary-offset: #86b95c;
    --color-accent: #ddb24f;
    --color-accent-offset: #f8dd9d;
    --color-background-offset: #1d1005;
    --color-background: #29190c;
    --color-border: #3e1f13;
  }
}

html[data-theme="dark"] {
  --color-primary: #139103;
  --color-primary-offset: #86b95c;
  --color-accent: #ddb24f;
  --color-accent-offset: #f8dd9d;
  --color-background-offset: #1d1005;
  --color-background: #29190c;
  --color-border: #3e1f13;
}
