@use 'sass:math';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: rem($rhythm-unit) 0;
}

h1 {
  @include type-setting(5, $line-height: true);
}

h2 {
  @include type-setting(4, $line-height: true);
}

h3 {
  @include type-setting(3, $line-height: true);
}

h4 {
  @include type-setting(2, $line-height: true);
}

h5 {
  @include type-setting(1, $line-height: true);
}

h6 {
  @include type-setting(0, $line-height: true);
}

p,
dl,
ul,
ol,
details,
table {
  margin: 0 0 rem($rhythm-unit) 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 0;
}

ul,
ol {
  padding-left: rem($rhythm-unit);
  margin-left: rem($rhythm-unit) * -1;
}

ul li {
  list-style: none;

  &::before {
    $bullet-size: 0.35rem;
    $margin-right: 0.5rem;

    content: '';
    display: inline-block;
    vertical-align: top;
    width: $bullet-size;
    height: $bullet-size;
    background-color: var(--color-accent);
    margin-bottom: 0;
    margin-right: $margin-right;
    margin-top: 0.58rem;
    margin-left: ($margin-right + $bullet-size) * -1;
    color: var(--color-accent);
    border-radius: 100%;
  }
}

ol {
  counter-set: lvl 0;
  list-style-type: none;

  li {
    counter-increment: lvl;

    &::before {
      content: counters(lvl, '.') '. ';
    }
  }

  ol {
    counter-reset: lvl;
  }
}

figure {
  margin: rem($rhythm-unit) 0;
}

summary {
  cursor: pointer;
}

hr,
.hr-like {
  height: 0;
  border: 0;
  display: block;
  border-top: 1px dashed var(--color-primary);
  margin: (rem($rhythm-unit) * 2) 0 calc(#{rem($rhythm-unit) * 3} - 1px) 0;
  position: relative;
  transform: skewY(-2deg);
}

blockquote {
  margin: rem($rhythm-unit) 0;
  padding: rem($rhythm-unit) 0;
  position: relative;
  border-left: 4px solid var(--color-accent);
  padding-left: calc(-4px + #{rem($rhythm-unit)});
  overflow: hidden;

  > *:last-child {
    margin-bottom: 0;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::after {
    background: var(--color-primary);
    min-height: rem(2 * $rhythm-unit);
    left: 0;
    right: 0;
    top: 0;
    bottom: 25%;
    transform: skewY(5deg);
    transform-origin: top left;
    z-index: -1;
    opacity: 0.15;
  }

  &::before {
    background: var(--color-accent-offset);
    min-height: rem(3 * $rhythm-unit);
    left: 0;
    right: 0;
    top: 10%;
    bottom: 25%;
    transform: skewY(-10deg);
    transform-origin: bottom right;
    z-index: -1;
    opacity: 0.15;
  }
}

small {
  @include type-setting(-1, $em: true);
}

sup,
sub {
  @include type-setting(-1, $em: true);

  vertical-align: baseline;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.3em;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

code,
kbd {
  font-family: var(--font-stack-mono, 'monospace');
  vertical-align: bottom;
}

a {
  color: var(--color-primary);

  &:visited {
    color: var(--color-primary-offset);
    text-decoration-color: var(--color-accent);
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: start;
  background: var(--color-background-offset);
}

th,
td {
  border: 1px solid var(--color-accent);
  padding: 0 rem(math.div($rhythm-unit, 2));
}
