@use 'sass:math';

:root {
  --width-container: #{map-get($widths, 'medium')};
  --width-container-narrow: #{map-get($widths, 'narrow')};
  --width-container-thin: #{map-get($widths, 'thin')};
  --font-stack-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Cantarell, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  @each $name, $color in $colors {
    --color-#{$name}: #{unquote(map-get($color, 'light'))};
  }

  @media (prefers-color-scheme: dark) {
    @each $name, $color in $colors {
      --color-#{$name}: #{unquote(map-get($color, 'dark'))};
    }
  }
}

/* stylelint-disable selector-no-qualifying-type */
html[data-theme='dark'] {
  @each $name, $color in $colors {
    --color-#{$name}: #{unquote(map-get($color, 'dark'))};
  }
}

html[data-theme='light'] {
  @each $name, $color in $colors {
    --color-#{$name}: #{unquote(map-get($color, 'light'))};
  }
}
/* stylelint-enable selector-no-qualifying-type */

html {
  @if $debug == true {
    @include baseline-guide;
  }

  box-sizing: border-box;
  background-color: var(--color-background);
  font-family: var(--font-stack-default, 'sans-serif');
  font-size: $base-font-size * 100%;
  line-height: $base-line-height;
  color: var(--color-text);
  font-variant-ligatures: common-ligatures discretionary-ligatures;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  @include respond-to('medium') {
    font-size: $base-font-size * 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-y: scroll;
  position: relative;
  min-height: 100vh;

  @supports (display: grid) {
    display: grid;
  }
}

.global {
  min-height: inherit;

  @supports (display: grid) {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-rows: [skip-links] auto [main-header] auto [main-content] 1fr [main-footer] auto;

    > * {
      min-width: 0;
    }
  }
}

@supports (display: grid) {
  .decoration {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    z-index: -2;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      grid-column: 1;
      grid-row: 1;
    }

    &::before {
      background: var(--color-accent);
      opacity: 0.05;
      height: 150vh;
      transform: skewY(50deg);
      transform-origin: top right;
      z-index: 1;
    }

    &::after {
      background: var(--color-background-offset);
      height: 100vh;
      transform: skewY(-15deg);
      transform-origin: top left;

      @if $debug == true {
        opacity: 0.35;
      }
    }
  }
}

.main-container {
  // fallback for IE11- and browsers that do not understand custom properties
  max-width: 1200px;
  padding-left: rem(1);
  padding-right: rem(1);
  margin-left: auto;
  margin-right: auto;

  padding-left: math.div(rem($width-gutter), 2);
  padding-right: math.div(rem($width-gutter), 2);

  @include respond-to('small') {
    padding-left: math.div(rem($width-gutter), 2);
    padding-right: math.div(rem($width-gutter), 2);
  }

  @supports (--a: 0) {
    max-width: var(--width-container);
  }
}

.surprise {
  .icon-svg {
    vertical-align: bottom;
  }
}
