button,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
  color: var(--color-text);
  background: var(--color-background);
  margin: 0;
  border: 0;
  line-height: inherit;
  padding: 0 4px;
  // box-shadow: 0 0 0 1px inset var(--color-accent); // like a border, but which does not ruin the vertical rhythm ;)
  box-shadow: 0 0 0 1px inset var(--color-border); // like a border, but which does not ruin the vertical rhythm ;)
  
  border-radius: $border-radius;
  vertical-align: top;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 2px inset var(--color-accent-offset);
}

label + input {
  margin-left: 4px;
}

textarea {
  display: block;
  resize: vertical;
  width: 100%;
}

button,
[type='submit'] {
  background: var(--color-accent);
  color: var(--color-text-inverse);
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 0 1px inset var(--color-accent); // like a border, but which does not ruin the vertical rhythm ;)

  &:hover,
  &:focus {
    box-shadow: 0 0 0 1px inset var(--color-accent-offset);
    background: var(--color-accent-offset);
    outline: none;
  }

  &:active {    
    top: 1px;
    left: 1px;
  }
}
