.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.icon-svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.hidden {
  display: none;
}
