{% import 'macros/macros.html.twig' as macro %}

{% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
<div class="search-box" id="search">
    <form name="search" data-simplesearch-form>
        <label for="simplesearch__input">
            {{ "PLUGIN_SIMPLESEARCH.SEARCH_LABEL"|t }}
        </label>
        <input
            name="searchfield"
            class="search-input"
            type="text"
            id="simplesearch__input"
            {% if min_chars > 0 %} minlength="{{- min_chars -}}" {% endif %}
            required
            placeholder="{{ "PLUGIN_SIMPLESEARCH.SEARCH_PLACEHOLDER"|t }}"
            value="{{ query|e }}"
            data-search-invalid="{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIMUM_CHARACTERS"|t(min_chars)|raw }}"
            data-search-separator="{{ config.system.param_sep }}"
            data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route == '@self' ? '' : (config.plugins.simplesearch.route == '/' ? '' : config.plugins.simplesearch.route) }}/query"
        />
        {% if config.plugins.simplesearch.display_button %}
            <button type="submit" class="search-submit" title="{{ "PLUGIN_SIMPLESEARCH.SEARCH_BUTTON"|t }}" aria-label="{{ "PLUGIN_SIMPLESEARCH.SEARCH_BUTTON"|t }}">
               {{ macro.icon('search') }}
            </button>
        {% endif %}
    </form>
</div>
